<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>API de Star Wars</title>
</head>

<body>
    <h1>API de Star Wars</h1>
    <form action="/personaje" method="get">
        <label for="nombre">Buscar personaje: </label>
        <input type="text" id="nombre" name="nombre">
        <button type="submit">Buscar</button>
    </form>
</body>

</html>