body {
    margin: unset;
    font-family: 'Inter';
}

.container {
    width: 100%;
    box-sizing: border-box;
    background-color: #fcfcfc;
    display: block;
}

.header {
    background-color: #282828;
    color: white;
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-sizing: border-box;
}

.title {
    color: #fcfcfc;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    font-family: "Inter", sans-serif;
    width: 15%;
    cursor: default;
}

.options {
    display: flex;
    width: 25%;
    justify-content: space-between;
    display: flex;
}

.btnHeader {
    cursor: pointer;
    background-color: #282828;
    color: #fcfcfc;
    border: unset;
    margin: 0%;
    height: 2rem;
}
.btnHeader:hover {
    background-color: #353535;
    border-radius: 12px;
}

.content {
    background-color: #fcfcfc;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
}

.section-title {
    width: 100%;
    display: flex;
    background-color: #fcfcfc;
    color: #282828;
    justify-content: center;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

/*tablas*/
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/* Select */
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}

select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, .25);
}

select option {
    padding: 5px;
}

/* Personaje */
.chara-select {
    width: 100%;
    display: flex;
    background-color: #fcfcfc;
    justify-content: left;
    align-items: center;
    margin-bottom: 1%;
    box-sizing: border-box;
}

.chara-select-title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    font-size: 1rem;
    font-weight: 600;
}

.chara-content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chara-list {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Residente */


/* Todos */
.order-select {
    width: 100%;
    display: flex;
    background-color: #fcfcfc;
    justify-content: left;
    align-items: center;
    margin-bottom: 1%;
    box-sizing: border-box;
}